{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!--<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">-->
    <!--<link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">-->

    <link rel="stylesheet" href="{% static 'tracker/css/framework7.ios.min.css' %}">
    <link rel="stylesheet" href="{% static 'tracker/css/framework7.ios.colors.min.css%' }">


    <!--<script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>-->
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'tracker/js/framework7.min.js' %}"></script>

    <!--<script src="{% static 'tracker/js/about.js' %}"></script>-->
</head>
<body>
{% if user.is_authenticated %}
    <h1>Hello </h1>
    {% else %}
    <h1>Please sign in</h1>
    {% endif %}
<form method="post" action="{% url 'tracker:login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

<!--<ons-page>-->
    <!--<ons-toolbar>-->
        <!--<div class="center">Login</div>-->
    <!--</ons-toolbar>-->

    <!---->

    <!--<div style="text-align: center; margin-top: 30px;">-->
        <!--<form id="login-form" method="post" action="{% url 'tracker:login' %}">-->
            <!--{% csrf_token %}-->
            <!--<p>-->
                <!--<ons-input id="username" modifier="underbar" placeholder="Username" float></ons-input>-->
            <!--</p>-->
            <!--<p>-->
                <!--<ons-input id="password" modifier="underbar" type="password" placeholder="Password" float></ons-input>-->
            <!--</p>-->
            <!--<p style="margin-top: 30px;">-->
                <!--<ons-button onclick="login()">Sign in</ons-button>-->
            <!--</p>-->
        <!--</form>-->
    <!--</div>-->

    <!--&lt;!&ndash;Make the django form render as ons components&ndash;&gt;-->

    <!---->


<!--</ons-page>-->



</body>
</html>
