{% load staticfiles %}

<!--Contains and loads all the js files in base.html-->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'tracker/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'tracker/js/popper.min.js' %}"></script>
<script src="{% static 'tracker/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tracker/js/moment.js' %}"></script>
<script src="{% static 'tracker/js/chart.min.js' %}"></script>
