{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% block extrahead %}{% endblock extrahead %}
    {% include 'tracker/base_css.html' %}


</head>
<body>
{% include 'tracker/navbar.html' %}

<!--Impromptu Navbar-->

{% block content %}
{% endblock %}


{% include 'tracker/base_js.html' %}

{% block extra_js %}
{% endblock %}
</body>
</html>