{% load staticfiles %}

<!--Contains various CSS files for loading from base.html-->

<!--Bootstrap CSS-->
<link href="{% static 'tracker/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'tracker/css/custom.css' %}" rel="stylesheet">


<!--Fontawesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="{% static 'tracker/css/font-awesome.min.css' %}">-->

<!--Custom css styles to override certain class styles-->
