{% extends "tracker/base.html" %}
{% load staticfiles %}

{% block title %}{{object}}{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
<h1>{{ object }}</h1>
<p>General information about {{ object }}</p>

</div>
{% endblock %}
