{% extends "tracker/base.html" %}
{% load staticfiles %}

{% block title %}Exercise{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
<h1>{{ exercise_name }} <a class="btn btn-lg btn-primary " role="button" href="{% url 'tracker:exercise_name' slug=exercise_name.slug %}">Exercise info</a></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Reps</th>
      <th>Sets</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {% for exercise in exercises %}
    <tr>
      <th scope="row">{{ exercise.weight }}</th>
      <td>{{ exercise.reps }}</td>
      <td>{{ exercise.sets }}</td>
      <td>{{ exercise.timestamp|date:"d F Y" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="row">
  <div class="col-6">
    <canvas id="sessionVolumeChart" width="100" height="100"></canvas>
  </div>
  <div class="col-6">
      <canvas id="sessionMaxWeightChart" width="100" height="100"></canvas>
  </div>
</div>

</div>
{% endblock %}

{% block extra_js %}
<script>
  var volume_data={
        labels: [{% for session in session_volume_chart %}moment('{{session.0}}'),{% endfor %}],
        datasets: [{
            label: 'Volume per Session',
            data: [{% for volume in session_volume_chart %}{{volume.1}},{% endfor %}],
            borderColor:'rgb(244, 66, 101)',
            backgroundColor: 'rgba(255, 201, 211, 0.1)',
        }]
    };

    var max_weight_data={
        labels: [{% for session in session_volume_chart %}moment('{{session.0}}'),{% endfor %}],
        datasets: [{
            label: 'Max Weight per Session',
            data: [{% for weight in session_volume_chart %}{{weight.2}},{% endfor %}],
            borderColor:'rgb(3, 64, 163)',
            backgroundColor: 'rgba(109, 153, 224, 0.1)',
        }]
    };
</script>
<script src="{% static 'tracker/js/exercise_user_detail.js' %}"></script>
{% endblock %}