{% extends "tracker/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}Create new exercise{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
<form class="form" method="post" action="{% url 'tracker:exercise_name_create' %}">
    <h2 class="form-signin-heading">Create new exercise</h2>
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

</div>
{% endblock %}