{% extends "tracker/base.html" %}
{% load staticfiles %}

{% block title %}Exercise{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
<h1>Exercise </h1>
{% for exercise in exercises %}
<a class="btn btn-lg btn-primary btn-block" role="button" href="{% url 'tracker:exercise_user_detail' exercise_name=exercise.slug %}">{{ exercise }}</a>
{% endfor %}


</div>
{% endblock %}