{% extends "tracker/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
    <div class="row">
        <!--Session buttons-->
        <div class="col-md-6">
            <h1 class="text-center">{{request.user}}'s Sessions</h1>

        {% for session in sessions %}
        <a class="btn btn-lg btn-primary btn-block" role="button" href="{% url 'tracker:session' pk=session.id %}">{{ session }}</a>
        {% endfor %}

        <a class="btn btn-lg btn-primary btn-block btn-success" role="button" href="{% url 'tracker:session-add' %}">Start new session</a>
        </div>
        <!--Session volume chart-->
        <div class="col-md-6">
            <canvas id="sessionVolumeChart" width="100" height="100"></canvas>
        </div>




    </div>


</div>
{% endblock %}


{% block extra_js %}
<script>
  var volume_data={
        labels: [{% for session in session_volume_chart %}moment('{{session.0}}'),{% endfor %}],
        datasets: [{
            label: 'Volume per Session',
            data: [{% for volume in session_volume_chart %}{{volume.1}},{% endfor %}],
            borderColor:'rgb(244, 66, 101)',
            backgroundColor: 'rgba(255, 201, 211, 0.1)',
        }]
    };
</script>
<script src="{% static 'tracker/js/home.js' %}"></script>
{% endblock %}