{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Signin{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
<link href="{% static 'tracker/css/signin.css' %}" rel="stylesheet">

{% endblock extrahead %}

{% block content %}

<div class="container">

    <form class="form-signin" method="post" action="{% url 'tracker:login' %}">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

</div> <!-- /container -->

{% endblock %}

