<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'tracker:home' %}">Sweat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tracker:exercise_name_list' %}">Exercises</a>
            </li>
        </ul>
        <!--User and Logout on right hand side of navbar -->
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="#">{{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tracker:logout' %}">Logout</a>
            </li>
        </ul>
        {% endif %}
        <!--<form class="form-inline mt-2 mt-md-0">-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

<!--<nav class="navbar navbar-dark bg-dark fixed-top">-->
  <!--<form class="form-inline">-->
    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
  <!--</form>-->
<!--</nav>-->