{% extends "tracker/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block title %}Create new session exercise{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
<a href="{% url 'tracker:session' pk=session.id %}"><h3>{{ session }}</h3></a>
<h3>{{ exercise_name }}</h3>
<form class="form" method="post" action="">
    <h2 class="form-signin-heading">Create new {{ exercise_name }} instance </h2>
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

<!--A group list of past same exercises -->

<ul class="list-group">
    {% for exercise in exercise_qs %}
    <li class="list-group-item">{{exercise}}</li>
    {% endfor %}
</ul>

</div>
{% endblock %}