{% extends "tracker/base.html" %}
{% load staticfiles %}

{% block title %}Exercise{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container"/>
<a href="{% url 'tracker:session' pk=session.id %}"><h3>{{ session }}</h3></a>
<h3>{{ exercise_name }} <a href="{% url 'tracker:exercise_name' slug=exercise_name.slug %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></h3>
<h1>Session - Exercise </h1>
{% for exercise in exercises %}
<li>{{ exercise }}</li>
{% endfor %}

<a class="btn btn-lg btn-primary btn-block" role="button" href="{% url 'tracker:session_exercise_create' pk=session.id exercise_name=exercise_name.slug %}">Add new instance</a>


</div>
{% endblock %}