{% extends "tracker/base.html" %}
{% load staticfiles %}

{% block title %}Session{% endblock title %}

<!-- Custom styles for this template -->
{% block extrahead %}
{% endblock extrahead %}

{% block content %}

<div class="container">
    <h1>Session Detail View</h1>
    <p>{{ session }}</p>

    <div class="list-group">
        <h1>Exercises</h1>
        {% for exercise in exercises %}
        <a href="{% url 'tracker:session_exercise_update' pk=session.id exercise_name=exercise.exercise.slug ex_id=exercise.id %}"
           class="list-group-item list-group-item-action">{{ exercise }}</a>
        {% endfor %}
    </div>

    <!--Add new exercise-->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Add new exercise
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for exercise_name in exercise_names %}
            <a class="dropdown-item"
               href="{% url 'tracker:session_exercise_create' pk=session.id exercise_name=exercise_name.slug %}">{{ exercise_name }}</a>
            {% endfor %}
        </div>
    </div>
    <br>
    <!--Add new ExerciseName-->
    <a class="btn btn-secondary" role="button" href="{% url 'tracker:exercise_name_create' %}">Add new exercise type</a>

    <!--Session Stats-->
    <div id="session-stats">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Number of Exercises</h4>
                    <p class="card-text display-1 text-center">{{exercise_number}}</p>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Weight Lifted</h4>
                    <p class="card-text text-center">{{total_weight_lifted.total_weight__sum}}</p>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}