/*Corrects the fixed navbar overlapping top of page*/
body {
    padding-top: 60px;
    /*
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    */

     }

/*
h1, h3, h2, h4, h5, h6, label {
    color: white;
}

*/